name: OKX 4H+1H Radar

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"   # Her saat başı 1 kere çalışır

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Bağımlılıkları yükle
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Botu çalıştır
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          python main.py
